body {
  font-family: Arial, sans-serif;
}

/* meny */
.menu {
  display: flex;
  max-width: 1440px;
  margin: 40px;
  background: #f2f2f2;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

/* meny items */
.item {
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

/* active item */
.active{
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  background: #2f435f;
  color: #fff;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 100px;
}

/* bild */
.profile-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

/* text */
.profile-text {
  max-width: 500px;
}

.profile-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.profile-text p {
  font-size: 18px;
  line-height: 1.6;
}
