body {
  font-family: Arial, sans-serif;
  background: #fff;
}

.container {
  padding: 60px;
}

/* meny */
.menu {
  display: flex;
  max-width: 1440px;
  margin: 40px;
  background: #f2f2f2;
  border-radius: 40px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

/* meny items */
.item {
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

/* active item */
.active{
  flex: 1;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  background: #2f435f;
  color: #fff;
}

.container{
margin: 7px;
display: flex;
justify-content: space-around;
}

/* taxt */
.text {
  width: 600px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 40px;
}

/* tabell */
table {
  border-spacing: 10px;
  background: #e0e0e0;
  padding: 2px;
}

th,
td {
  background: #364b6b;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}

th {
  font-weight: bold;
}

tr td {
  height: 15px;
}

.bildar{
  display: flex;
  flex-direction: column;
}

img{
  margin: 23px;
}